#order {
  margin-top: 50px;
}

.jumbotron {
  text-align: center;
  color: #FFFFCC;
  background-image: url("http://www.loumalnatis.com/filebin/images/slideshow/slide-pull-1.jpeg");
  background-size: cover;
  font-family: "Times New Roman";
  /*padding-bottom: 200px;*/
}

p {
  text-align: left;
  margin-left: 300px;
  margin-right: 300px;
}

.col-md-3 {
  border-radius: 20px;
  width: 250px;
  background-color: #CC3300;
  padding-bottom: 50px;
  margin-left: 15px;
}

body {
  background-color: #FFCC80;
  /*background-image: url("http://www.loumalnatis.com/filebin/images/slideshow/slide-pull-1.jpeg");
  background-size: 100%;*/
}

.show-customer-form {
  display: none;
  width: 300px;
}

.show-order {
  display: none;
}

#order-btn {
  margin-top: 20px;
}
